In [1]:
### Imports
import pandas as pd
import plotly

In [4]:
### Upload Data
atl_rest =  pd.read_csv('https://raw.githubusercontent.com/Frans-Grau/Datasets/main/P5%20-%20Datasets/Atlanta-Restaurants%20-%20Sheet1.csv')
atl_rest.head()

   Restaurant Description     Terminal
0      Arby's    FastFood  Concourse E
1  Asian Chao       Asian  Concourse A
2  Asian Chao       Asian  Concourse B
3  Asian Chao       Asian  Concourse D
4  ATL Market     Grab&Go  Concourse D