In [2]:
### Imports
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [10]:
### Website
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get('https://www.flylax.com/lax-dining-and-shopping')

In [13]:
all_after = list(map(lambda name: name.text, driver.find_elements_by_class_name('Dining-sub-section')))
data_after = pd.DataFrame(all_after)
data_after.rename(columns={0:'Name'}, inplace=True)
data_after['Name'] = data_after['Name'].apply(lambda x: x.split("\n")[0])
data_after['Location'] = 'After Security'
data_after.head()

                     Name        Location
0       800 Degrees Pizza  After Security
1                A/K Blvd  After Security
2                A/K Blvd  After Security
3               Ace Tacos  After Security
4  Ashland Hill (and Bar)  After Security

In [12]:
all_before = list(map(lambda name: name.text, driver.find_elements_by_class_name('Dining-sub-section')))
data_before = pd.DataFrame(all_before)
data_before.rename(columns={0:'Name'}, inplace=True)
data_before['Name'] = data_before['Name'].apply(lambda x: x.split("\n")[0])
data_before['Location'] = 'Before Security'
data_before.head()

                Name         Location
0  Asian Street Eats  Before Security
1     Dunkin' Donuts  Before Security
2   Earl of Sandwich  Before Security
3              Jamba  Before Security
4          Pinkberry  Before Security

In [16]:
LAX_restaurants = pd.concat([data_before, data_after])
# LAX_restaurants.to_csv('LAX-Restaurants.csv')

In [18]:
LAX_restaurants

                       Name         Location
0         Asian Street Eats  Before Security
1            Dunkin' Donuts  Before Security
2          Earl of Sandwich  Before Security
3                     Jamba  Before Security
4                 Pinkberry  Before Security
..                      ...              ...
94                Vino Volo   After Security
95         Wahoos Fish Taco   After Security
96        Wetzel's / Quench   After Security
97    Wolfgang Puck Express   After Security
98  Wpizza by Wolfgang Puck   After Security

[112 rows x 2 columns]

In [23]:
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Dunkin' Donuts (kiosk)"], "Dunkin' Donuts")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Starbucks (Arrivals)"], "Starbucks")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Starbucks'"], "Starbucks")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Ashland Hill (and Bar)"], "Ashland Hill")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Carry on Coffee & Market Place"], "Carry On Marketplace")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Dunkin Donuts"], "Dunkin' Donuts")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Homeboy"], "Homeboy Cafe")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["LA Life Market Kiosk"], "LA Life Quick Market")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace([""], "LA Life Quick Market")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["LA Life"], "LA Life Quick Market")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Loteria!! Grill"], "Loteria! Grill")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Rock & Brews Concert Bar and Grill"], "Rock & Brews Concert Bar & Grill")
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["Starbucks Evenings"], "Starbucks") 
LAX_restaurants['Name'] = LAX_restaurants['Name'].replace(["The Coffee Bean and Tea Leaf"], "The Coffee Bean & Tea Leaf")

In [25]:
LAX_restaurants.to_csv('LAX-Restaurants.csv')

In [26]:
LAX_restaurants.Name.to_list()

['Asian Street Eats',
 "Dunkin' Donuts",
 'Earl of Sandwich',
 'Jamba',
 'Pinkberry',
 'Planet Hollywood',
 'Starbucks',
 'Starbucks',
 'Starbucks',
 'The Coffee Bean & Tea Leaf',
 'The Coffee Bean & Tea Leaf',
 'The Coffee Bean & Tea Leaf',
 'WPizza by Wolfgang Puck',
 '800 Degrees Pizza',
 'A/K Blvd',
 'A/K Blvd',
 'Ace Tacos',
 'Ashland Hill',
 'Ashland Hill',
 'B Grill By BOA Steakhouse',
 'Barneys Beanery',
 'beaming',
 "Beecher's Handmade Cheese",
 'Betcha Burger',
 'BLD',
 'BLU2o',
 'Border Grill',
 'Breeze',
 'BUILT (Custom Burgers)',
 'Burger King',
 'California Pizza Kitchen',
 'California Pizza Kitchen',
 'Campanile',
 "Carl's Jr",
 'Carry On Marketplace',
 'Carry On Marketplace',
 'Chaya Sushi',
 'Chick-fil-A',
 'Coffee Corner',
 'Deli & Co.',
 'Donburi Bistro',
 "Dunkin' Donuts",
 'Earthbar',
 'Earthbar',
 'Eat, Drink, Fly',
 'Einstein Bros. Bagels',
 'Engine Co. No. 28',
 'Farmers Market To Go',
 'Flight Stop',
 "Ford's Filling Station",
 'Fresh Brothers Pizza & Sandwiches',
 'Homeboy Cafe',
 'Homeboy Cafe',
 'I Love LA',
 'ink.sack',
 "Jersey Mike's",
 'Kentucky Fried Chicken',
 'Klatch Coffee',
 'LA Life Quick Market',
 'LA Life Quick Market',
 'LA Life Quick Market',
 'La Provence Patisserie and Cafe',
 'LAMILL Coffee',
 'Lemonade',
 'Loteria! Grill',
 'Loteria! Grill',
 'Monsieur Marcel Gourmet Market & Bistro',
 'NATIVE',
 'Natural Break',
 'Panda Express',
 'Panda Express',
 'Panda Express',
 'Peets Coffee',
 'PF Changs',
 'Pick Up Stix',
 'Playa Cafe',
 'Playa Vista Coffee LAX',
 'Point the Way Cafe',
 'Pret A Manger',
 'Reilly s Irish Pub',
 'Rock & Brews Concert Bar & Grill',
 'Rock & Brews Concert Bar & Grill',
 'Rolling Stone Bar & Grill',
 "Sammy's Woodfired Pizza",
 'Santa Monica Brew Works',
 'Santouka Ramen',
 'SeaLegs Wine Bar',
 'SLAPFISH Modern Seafood Shack',
 'Starbucks',
 'Starbucks',
 'Starbucks',
 'Starbucks',
 'Starbucks',
 'Stella Bar',
 'The Coffee Bean & Tea Leaf',
 'The Coffee Bean & Tea Leaf',
 'The Coffee Bean & Tea Leaf',
 'The Coffee Bean & Tea Leaf',
 'The Counter Custom Built Burgers',
 'The Habit Burger Grill',
 'The Kitchen by Wolfgang Puck',
 'The Playa Vista',
 'The Wine Bar by Wolfgang Puck',
 'Treat Me Sweet',
 'Umami Burger',
 'Urth Caffe & Bar',
 'Vanilla Bake Shop',
 'Vino Volo',
 'Wahoos Fish Taco',
 "Wetzel's / Quench",
 'Wolfgang Puck Express',
 'Wpizza by Wolfgang Puck']